[run]
omit =
  .venv/*,
  *tests/*,
  manage.py,
  *migrations*,
  */static/*,
  */static_dev/*,
  */media/*,
  local_settings.py,
  */urls.py,
  */wsgi.py,
  alexandria/settings/*,
  alexandria/conftest.py,
  */management/commands/*
  alexandria/middleware.py
  alexandria/records/zenodotus_utils.py
