{% extends 'base.partial' %}
{% load i18n %}

{% block content %}
    {# Translators: this is the heading on the "completed password reset" page #}
    <h1>{% translate "All done!" %}</h1>
    <p>{% blocktranslate %}
        Your new password has been set. Click the button to log in!
    {% endblocktranslate %}
    </p>
    {% #centered_column extra_classes="text-center" %}
    {% url "login" as loginroute %}
    {% #button element='a' href=loginroute variant="primary" block %}{% translate "Login" %}{% /button %}
    {% /centered_column %}
{% endblock %}
