{% extends 'partials/base.partial' %}
{% load i18n %}

{% block content %}
    <h1>{% translate "All done!" %}</h1>
    <div class="mt-3">
        <p>
            {% blocktranslate %}
                <p>Your password was changed.</p>
            {% endblocktranslate %}
        </p>
    </div>
    {% #centered_column %}
        {% url "my_settings" as settingsroute %}
        {% #button element='a' href=settingsroute variant="primary" block %}{% translate "Back to Settings" %}{% /button %}
    {% /centered_column %}
{% endblock %}
