{% extends 'base.partial' %}
{% load i18n %}

{% block content %}
    {% if validlink %}
        <h1>{% translate "Reset Password" %}</h1>
        {% include 'partials/generic_form.partial' with slim_form=True %}
    {% else %}
        <h1>{% translate "Sorry!" %}</h1>
        <p>
            {% blocktranslate %}
                The password reset link was invalid; it might have already been used.
                Please request a new password reset.
            {% endblocktranslate %}
        </p>
        {% #centered_column %}
        {% url "homepage" as homeroute %}
        {% #button element='a' href=homeroute variant="primary" block %}{% translate "Home" %}{% /button %}
        {% /centered_column %}
    {% endif %}

{% endblock %}
