{% extends 'partials/base.partial' %}
{% load i18n %}

{% block content %}
    <h1>{% translate "Check your email!" %}</h1>
    <div class="mt-3">
        <p>
            {% blocktranslate %}
                <p>If we know that email address, then we'll send an email shortly with more instructions.</p>
            {% endblocktranslate %}
        </p>
    </div>
    {% #centered_column %}
        {% url "homepage" as homeroute %}
        {% #button element='a' href=homeroute variant="primary" block %}{% translate "Home" %}{% /button %}
    {% /centered_column %}
{% endblock %}
