{% extends 'staff_base.partial' %}
{% load mathfilters %}
{% load i18n %}
{% load humanize %}

{% block title %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
    {% if search_text or page %}
        <form method="post" id="searchForm">
            <div class="mb-3">
                <label for="accountTypeSearch" class="form-label">{% translate "Search" %}</label>
                <input type="text" value="{% if search_text %}{{ search_text }}{% endif %}"
                       class="form-control" name="search_text" id="accountTypeSearch">
            </div>
            <button type="submit" class="btn btn-primary">{% translate "Submit" %}</button>
            <button onclick="clearSearch()" class="btn btn-outline-primary">{% translate "Clear Search" %}</button>
        </form>

        <script type="application/javascript">
            function clearSearch() {
                document.getElementById("accountTypeSearch").value = '';
                document.getElementById("searchForm").submit();
            }
        </script>

    {% endif %}
    {% if page %}
        {% for a in page %}
            <hr>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4 text-center text-lg-start">
                    {{ a.name }}
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 text-center text-lg-start">
                    {% include 'partials/details/account_type_staff_or_patron.partial' with item=a %}
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3 text-center text-lg-start">
                    {# Translators: there is a date or time immediately after this, like "4 hours ago" #}
                    {% translate "Last updated"%} {{ a.updated_at|naturaltime }}
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 mt-3 mt-lg-0 text-center">
                    <div class="row">
                        <div class="col-1 col-md-2 col-lg-0"></div>
                        <div class="col-10 col-md-8 col-lg-12 text-center">
                            <div class="d-grid gap-2">
                                <a class="btn btn-primary"
                                   href="{% url 'edit_account_type' account_type_id=a.id %}"
                                >{% translate "View" %}</a>
                            </div>
                        </div>
                        <div class="col-1 col-md-2 col-lg-0"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if page.paginator.num_pages > 1 %}
            {# Only show the pagination buttons if we actually got results. #}
            {% include 'partials/pagination.partial' %}
        {% endif %}
    {% else %}
        <div class="alert alert-secondary text-center mt-5" role="alert">
            {% translate "No results found." %}
        </div>
    {% endif %}
{% endblock %}
