{% extends 'staff_base.partial' %}

{% block title %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
    <div class="text-center my-5 px-5"
         data-hx-get="{% url 'check_out_htmx' %}"
         data-hx-trigger="load"
         data-hx-swap="outerHTML"
    >
        {% #vertically_centered_card %}
        <div class="spinner-border my-5" style="width: 7rem; height: 7rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        {% /vertically_centered_card %}
    </div>
{% endblock %}
