{% extends 'staff_base.partial' %}

{% block title %}
    <h1>{{ title }}</h1>
{% endblock title %}

{% block content %}
    {% include 'partials/warn_if_not_in_electron.partial' %}
    <div class="text-center my-5 px-5"
         hx-get="{% url 'check_out_htmx' %}"
         hx-trigger="load"
         hx-swap="outerHTML"
    >
        {% #vertically_centered_card %}
        <div class="spinner-border my-5" style="width: 7rem; height: 7rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        {% /vertically_centered_card %}
    </div>
{% endblock content %}
