{% extends "staff_base.partial" %}

{% block content %}

    <p>
        Throw in anything that you'd like to search for! Information about a book, a bar code,
        a patron name, a user ID, whatever!
    </p>
    <form method="post" action="{% url 'staff_index' %}">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Search:</span>
            <input type="text" class="form-control" name="search_text" aria-label="Text input with dropdown button" value="{{ search_term }}">
        </div>
        <div class="text-center">
            <div class="btn-group" id="quickSearchTypeGroup" role="group"
                 aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="search_type" value="everything" id="btnradioeverything" autocomplete="off"
                       checked>
                <label class="btn btn-outline-secondary" for="btnradioeverything">Everything</label>

                <input type="radio" class="btn-check" name="search_type" value="title" id="btnradiotitle" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradiotitle">Title</label>

                <input type="radio" class="btn-check" name="search_type" value="author" id="btnradioauthor" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradioauthor">Author</label>

                <input type="radio" class="btn-check" name="search_type" value="barcode" id="btnradiobarcode" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradiobarcode">Barcode</label>

                <input type="radio" class="btn-check" name="search_type" value="patron" id="btnradiopatron" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradiopatron">Patron</label>
            </div>
        </div>
        <div class="text-center">
            <div class="row">
                <div class="col-0 col-lg-4"></div>
                <div class="col-12 col-lg-4 d-grid mt-3">
                    <input type="submit" id="searchButton"
                           class="btn btn-block btn-success"
                           value="Search">
                </div>
                <div class="col-0 col-lg-4"></div>
            </div>
        </div>
    </form>

    {% if results %}
        <hr>
        {% include "staff/search.html" %}
    {% endif %}

    <script>
        // run on first load
        document.addEventListener("DOMContentLoaded", adjustButtonGroup);
        // run the rest of the time
        window.addEventListener('resize', adjustButtonGroup);

        function adjustButtonGroup() {
            // bootstrap doesn't have a native way to convert from a horizontal button
            // group and a vertical one. This does the job. Break at the XS breakpoint.
            el = document.getElementById("quickSearchTypeGroup");
            if (window.innerWidth < 576) {
                if (el.classList.contains("btn-group") === true) {
                    el.classList.remove("btn-group");
                    el.classList.add("btn-group-vertical");
                }
            } else {
                if (el.classList.contains("btn-group-vertical") === true) {
                    el.classList.remove("btn-group-vertical");
                    el.classList.add("btn-group");
                }
            }
        }
    </script>

{% endblock %}
