{% load i18n %}

<h1>{% translate "Results:" %}</h1>
{# TODO: show images for items and records #}
{% if results.record_results %}
    <h2>{% translate "Records" %}</h2>
    <ul>
        {% for obj in results.record_results %}
            <li>
                <em>{{ obj.title }}</em>, by {{ obj.authors }}

            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if results.item_results %}
    {{ results }}
    <h2>{% translate "Items" %}</h2>
    <ul>
        {% for obj in results.item_results %}
            {# TODO: Add service information. Is this served through Libby? Show that. #}
            <li>
                <em>{{ obj.record.title }}</em>, by {{ obj.record.authors }}.
                {{ obj.type }}. {{ obj.pubyear }}.
                {% if obj.call_number %}{{ obj.call_number }}.{% endif %}
                {% if obj.barcode %}{{ obj.barcode }}.{% endif %}
                {% if obj.is_checked_out %}
                    <span data-bs-toggle="tooltip" data-bs-placement="right" title="This item is checked out.">✗</span>
                {% else %}
                    <span data-bs-toggle="tooltip" data-bs-placement="right" title="This item is checked in!">✓</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endif %}

{% if results.patron_results %}
    <h2>{% translate "Patrons" %}</h2>
    {% for obj in results.patron_results %}
        {% include 'staff/patron_search_result.partial' with patron=obj %}
    {% endfor %}
{% endif %}
