{% extends 'partials/staff/base.partial' %}
{% load i18n %}

{% block title %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
    {% if search_text or page %}
        <form method="post" id="personSearchForm">
            <div class="mb-3">
                <label for="personSearch" class="form-label">{% translate "Search" %}</label>
                <input type="text" value="{% if search_text %}{{ search_text }}{% endif %}"
                       class="form-control" name="search_text" id="personSearch">
            </div>
            <button type="submit" class="btn btn-primary">{% translate "Submit" %}</button>
            <button onclick="clearSearch()" class="btn btn-outline-primary">{% translate "Clear Search" %}</button>
        </form>

        <script type="application/javascript">
            function clearSearch() {
                document.getElementById("staffSearch").value = '';
                document.getElementById("staffSearchForm").submit();
            }
        </script>

    {% endif %}
    {% if page %}
        {% for u in page %}
            <hr>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4 text-center text-lg-start">
                    <strong>{{ u.last_name }}, {{ u.first_name }}</strong>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 text-center text-lg-start">
                    {% if patron_mode %}
                        {{ u.birth_year|default_if_none:"Unknown" }}
                    {% else %}
                        {{ u.title|default_if_none:"No title" }}
                    {% endif %}
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3 text-center text-lg-start">
                    {{ u.card_number }}
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 mt-3 mt-lg-0 text-center">
                    <div class="row">
                        <div class="col-1 col-md-2 col-lg-0"></div>
                        <div class="col-10 col-md-8 col-lg-12 text-center">
                            {% url 'edit_staff_user' user_id=u.card_number as edit_staff_url %}
                            <div class="d-grid gap-2">
                                <a class="btn btn-primary"
                                        {% if patron_mode %}
                                   href="{% url 'edit_patron' user_id=u.card_number %}"
                                        {% else %}
                                   href="{% url 'edit_staff_user' user_id=u.card_number %}"
                                   {% if not perms.users.change_staff_account %}disabled{% endif %}
                                        {% endif %}
                                >{% translate "Edit" %}</a>
                            </div>
                        </div>
                        <div class="col-1 col-md-2 col-lg-0"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if page.paginator.num_pages > 1 %}
            {# Only show the pagination buttons if we actually got results. #}
            {% include 'partials/pagination.partial' %}
        {% endif %}
    {% else %}
        <h1>no folks here, sorry</h1>
    {% endif %}
{% endblock %}
