{% extends 'base.partial' %}
{% load i18n %}

{% block content %}
    <h1>{% translate "My Checkouts" %}</h1>
    {% if not checkouts %}
        {% #centered_column center_width=6%}
        <div class="card shadow mt-5">
            <div class="card-body">
                <h5 class="card-title">{% translate "You don't have anything checked out!" %}</h5>
                    {% url "homepage" as homepage %}
                    {% #button element='a' extra_classes="mt-3" href=homepage variant="primary" block %}{% translate "Home" %}{% /button %}
            </div>
        </div>
        {% /centered_column %}
    {% else %}
        {% for item in checkouts %}
            {% include 'catalog/item_detail_list.partial' with item=item checkout_view=True %}
            <hr>
        {% endfor %}

    {% endif %}
{% endblock %}
