{% extends 'base.partial' %}
{% load i18n %}

{% block content %}
    <h1 class="mb-5">{% translate "My Holds" %}</h1>
    {% if not holds %}
        {% #centered_column center_width=6 extra_classes="text-center" %}
        <div class="card shadow mt-5">
            <div class="card-body">
                <h5 class="card-title">{% translate "You don't have anything on hold!" %}</h5>
                {% url "homepage" as homepage %}
                {% #button element='a' extra_classes="mt-3" href=homepage variant="primary" block %}{% translate "Home" %}{% /button %}
            </div>
        </div>
        {% /centered_column %}
    {% else %}
        {% for hold in holds %}
            {% include 'catalog/item_detail_list.partial' with item=hold.item hold_view=True %}
            <hr>
        {% endfor %}
        {% #centered_column center_width=6 extra_classes="text-center" %}
        <div class="mt-3 text-center alert alert-secondary">
            {# need a `with` assignment because you can't access variables inside of a blocktranslate. #}
            {% with phonenumber=request.settings.phone_number %}
                {# Translators: there is a phone number at the end of this line #}
                {% blocktranslate %}
                    Need help? Give us a call at
                    <a class="text-dark" href="tel:{{ phonenumber }}">{{ phonenumber }}</a>!
                {% endblocktranslate %}
            {% endwith %}
        </div>
        {% /centered_column %}
    {% endif %}
{% endblock content %}
