{% extends 'partials/base.partial' %}

{% block content %}

    <h1>HI!</h1>
    <h2>welcome to alexandria</h2>
    <h3>we have books and stuff</h3>
    <p>
        You have a search term? Enter it here:
    </p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit!">
    </form>
    {% if error %}
        <h2>{{ error }}</h2>
    {% endif %}
    {% if result %}
        <h2>Got a response from LoC!</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Author(s)</th>
                <th scope="col">Year</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for i in result %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ i.title }}</td>
                    <td>{{ i.contributor|join:", "|title }}</td>
                    <td>{{ i.date }}</td>
                    <td><a href="{% url 'add_marc_from_loc' %}?loc={{ i.url }}" class="btn btn-success">Import</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
