{% extends 'base.partial' %}
{% load i18n %}

{% block content %}
    {% include 'partials/acting_user_warning.partial' %}
    {% #vertically_centered_card %}
    <table style="height: 100%; width: 100%">
        <tbody>
        <tr>
            <td class="align-middle">
                <form method="post" id="searchForm">
                    <h1 class="text-center mb-5">{% translate "What are you looking for today?" %}</h1>
                    <div class="input-group input-group-lg">
                        <input type="text" name="search_text"
                               class="form-control border-2 border-primary text-center shadow-sm"
                               id="mainSearchBar" aria-label="{% translate 'Search for an item!' %}"
                               placeholder="{% translate 'Type here!' %}">
                    </div>
                    {% #centered_column center_width=4 extra_classes="mt-5 mb-2 text-center" %}
                    {% translate "Search!" as search_text %}
                    {% button element="input" type="submit" id="mainSearchButton" variant="success" value=search_text block %}
                    {% /centered_column %}
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    {% /vertically_centered_card %}
    <script>
        document.getElementById('mainSearchButton').onclick = function (e) {
            e.preventDefault();
            const replacementButton = document.createElement("button");
            replacementButton.className = "btn btn-success";
            replacementButton.disabled = true;
            replacementButton.innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span class="visually-hidden">Loading...</span>`;
            e.target.parentElement.appendChild(replacementButton);
            e.target.remove();
            document.getElementById("searchForm").submit()
        }

    </script>
{% endblock %}
