{% extends "partials/base.partial" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-xl-8">
            <p><h4>{{ record.title }}</h4></p>

            {% if record.subtitle %}
                <p>{{ record.subtitle }}</p>
            {% endif %}

            {% if record.edition %}
                {{ record.edition }}
            {% endif %}

            {% if record.authors %}
                <p>{% translate "Author(s)" %}: {{ record.authors }}</p>
            {% endif %}

            {% if record.publisher %}
                {% translate "Publisher" %}: {{ record.publisher }}
            {% endif %}

            {% if record.pubyear %}
                {% translate "Release year" %}: {{ record.pubyear }}
            {% endif %}

            {% if record.summary %}
                <p>{% translate "Summary" %}: {{ record.summary }}</p>
            {% endif %}

            {% if record.type %}
                <p>{% translate "Media type" %}: {{ record.type.name }}</p>
            {% endif %}

            {% if record.physical_description %}
                <p>{% translate "Physical description" %}: {{ record.physical_description }}</p>
            {% endif %}
            {% if record.subjects.count > 0 %}
                <p>{% translate "Subjects" %}:</p>
                <ul>
                    {% for subj in record.subjects.all %}
                        <li>{{ subj }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if record.series %}
                <p>{% translate "Series info" %}: {{ record.series }}</p>
            {% endif %}

            {% if record.tags.count > 0 %}
                <p>{% translate "Tags" %}:</p>
                <div class="row">
                    {% for tag in record.tags.all %}
                        <div class="col">
                            <h5><span class="badge bg-secondary">{{ tag }}</span></h5>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-xl-4 d-none d-xl-block">
            {% include 'partials/cover_image.partial' with item=record %}
            <div class="text-center">
                {% if not request.user.is_authenticated %}
                    <a href="{% url 'login' %}?next={{ request.path }}"
                       class="btn btn-block btn-primary mt-3">{% translate "Reserve next available copy" %}</a>
                {% else %}
                    <div data-subitem-id="{{ record.type.id }}" data-item-id="{{ record.id }}"
                         data-title="{{ record.title }}" data-subtitle="{{ record.subtitle }}"
                         data-bs-target="#holdModal" data-bs-toggle="modal"
                         class="btn btn-block btn-primary mt-3 holdButtonInitial">
                        {% translate "Reserve next available copy" %}
                    </div>
                {% endif %}
            </div>
        </div>
        <p>{% translate "Total copies" %}: {{ record.get_valid_items.count }}</p>
    </div>
    <div class="container">
        {% with record.get_number_available_by_type as type_counts %}
            {% regroup record.get_valid_items by type as item_list %}
            <ul class="nav nav-pills nav-justified flex-sm-row" id="myTab" role="tablist"
                {% if type_counts|length_is:1 %}style="display: none"{% endif %}>
                {% for type in item_list %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link flex-sm-fill justify-content-center{% if type.grouper == record.type %} active{% endif %}"
                                id="tab-{{ type.grouper.id }}" data-bs-toggle="tab"
                                data-bs-target="#content-{{ type.grouper.id }}" type="button"
                                role="tab" aria-controls="{{ type.grouper.name }}" aria-selected="true">
                            {% if type.grouper.icon_name %}
                                <span class="material-icons"
                                      style="font-size: 36px;">{{ type.grouper.icon_name }}</span>
                            {% elif type.grouper.icon_svg %}
                                <div style="height:2.65em;">{{ type.grouper.icon_svg|safe }}</div>
                            {% endif %}
                        </button>
                    </li>
                {% endfor %}
            </ul>

            <hr>
            <div class="tab-content" id="myTabContent">
                {% for type in item_list %}
                    <div class="tab-pane fade{% if type.grouper == record.type %} show active{% endif %}"
                         id="content-{{ type.grouper.id }}" role="tabpanel"
                         aria-labelledby="tab-{{ type.grouper.id }}">
                        {% for type_option, counts in type_counts.items %}
                            {% if type_option == type.grouper %}
                                <div class="mt-2 fs-5">{% translate "Total copies available: " %}{{ counts }}</div>
                            {% endif %}
                        {% endfor %}
                        {% for obj in type.list %}
                            {% include 'partials/catalog/item_detail_list.partial' with record=item item=obj %}
                            <hr>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endwith %}
    </div>
    {% include 'partials/catalog/hold_location.partial' %}
{% endblock %}
