{% extends "partials/base.partial" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-xl-8">
            <p><h4>{{ item.title }}</h4></p>

            {% if item.subtitle %}
                <p>{{ item.subtitle }}</p>
            {% endif %}

            {% if item.edition %}
                {{ item.edition }}
            {% endif %}

            {% if item.authors %}
                <p>{% translate "Author(s)" %}: {{ item.authors }}</p>
            {% endif %}

            {% if item.publisher %}
                {% translate "Publisher" %}: {{ item.publisher }}
            {% endif %}

            {% if item.pubyear %}
                {% translate "Release year" %}: {{ item.pubyear }}
            {% endif %}

            {% if item.summary %}
                <p>{% translate "Summary" %}: {{ item.summary }}</p>
            {% endif %}

            {% if item.type %}
                <p>{% translate "Media type" %}: {{ item.type.name }}</p>
            {% endif %}

            {% if item.physical_description %}
                <p>{% translate "Physical description" %}: {{ item.physical_description }}</p>
            {% endif %}
            {% if item.subjects.count > 0 %}
                <p>{% translate "Subjects" %}:</p>
                <ul>
                    {% for subj in item.subjects.all %}
                        <li>{{ subj }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if item.series %}
                <p>{% translate "Series info" %}: {{ item.series }}</p>
            {% endif %}

            {% if item.tags.count > 0 %}
                <p>{% translate "Tags" %}:</p>
                <div class="row">
                    {% for tag in item.tags.all %}
                        <div class="col">
                            <h5><span class="badge bg-secondary">{{ tag }}</span></h5>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-xl-4 d-none d-xl-block">
            {% include 'partials/cover_image.partial' with item=item %}
            <div class="text-center">
                <div data-subitem-id="{{ item.type.id }}" data-item-id="{{ item.id }}"
                     data-title="{{ item.title }}" data-subtitle="{{ item.subtitle }}"
                     data-bs-target="#holdModal" data-bs-toggle="modal"
                     class="btn btn-block btn-primary mt-3 holdButtonInitial">
                    {% translate "Reserve next available copy" %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p>{% translate "Total copies" %}: {{ item.get_valid_items.count }}</p>
        {% for el in item.get_valid_items %}
            <hr>
            <div class="row mt-3">
                <div class="col-md-2">
                    <div class="row">
                        <div class="col">{% include 'partials/cover_image.partial' with item=el img_height=120 %}</div>
                    </div>
                </div>
                <div class="col-md-1 text-center">
                    <div class="col mt-3">
                        {% if el.type %}
                            {% if el.type.icon_name %}
                                <span class="material-icons" style="font-size: 36px;">{{ el.type.icon_name }}</span>
                            {% elif el.type.icon_svg %}
                                {{ el.type.icon_svg|safe }}
                            {% endif %}
                            <br>{{ el.type.name }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <span class="material-icons me-1">book</span>
                            {{ el.pubyear }}, {{ el.publisher }}
                        </div>
                        <div class="col d-flex align-items-center">
                            <span class="material-icons me-1">place</span>
                            {% if el.is_checked_out_to_system %}
                                {% translate "Unavailable" %}
                            {% elif el.is_checked_out %}
                                {% translate "Checked Out" %}
                            {% else %}
                                {{ el.home_location.name }}
                            {% endif %}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col d-flex align-items-center">
                            <span class="material-icons me-1"
                                  style="font-size: 24px;transform: scale(-1,1);">local_offer</span>
                            {{ el.call_number }}</div>
                        <div class="col d-flex align-items-center">
                            <svg class="me-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 version="1.1" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M2,6H4V18H2V6M5,6H6V18H5V6M7,6H10V18H7V6M11,6H12V18H11V6M14,6H16V18H14V6M17,6H20V18H17V6M21,6H22V18H21V6Z"/>
                            </svg>
                            {{ el.barcode }}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-2 col-md-0 col-lg-2"></div>
                        <div class="col-8 col-md-12 col-lg-8 text-center mt-2" style="height:100%">
                            <div class="d-grid gap-2">
                                <div data-subitem-id="{{ el.type.id }}" data-item-id="{{ el.id }}"
                                     data-title="{{ item.title }}" data-subtitle="{{ item.subtitle }}"
                                     data-is-item="1" data-bs-target="#holdModal" data-bs-toggle="modal"
                                     class="btn btn-block btn-primary holdButtonInitial">
                                    {% translate "Place hold" %}</div>
                            </div>
                        </div>
                        <div class="col-2 col-md-0 col-lg-2"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'partials/catalog/hold_location.partial' %}
{% endblock %}
