{% extends "partials/base.partial" %}
{% load i18n %}
{% load static %}

{% block content %}
    {% if search_term %}
        <h1>{{ result_count }} {% translate "Results" %}</h1>
        <p>{% translate "Search term" %}: {{ search_term }}</p>
        {% for item in page %}
            {% include "partials/single_search_result.partial" with item=item %}
        {% endfor %}
        {% if page.paginator.num_pages > 1 %}
            {# Only show the pagination buttons if we actually got results. #}
            {% include 'partials/pagination.partial' %}
        {% endif %}
    {% else %}
        {% include 'partials/catalog/no_results_found.partial' %}
    {% endif %}

{% endblock %}
