{% extends "partials/base.partial" %}
{% load i18n %}

{% block content %}

    <div aria-live="polite" aria-atomic="true" class="position-sticky" style="position: sticky; top: 0; z-index: 10">
        <div id="toaster" class="toast-container position-absolute top-0 end-0 p-3">
        </div>
    </div>

    {% if search_term %}
        <h1>{{ result_count }} {% translate "Results" %}</h1>
        <p>{% translate "Search term" %}: {{ search_term }}</p>
        {% for item in page %}
            {% include "partials/single_search_result.partial" with item=item %}
        {% endfor %}
        {% include 'partials/pagination.partial' %}
    {% else %}
        <div class="position-relative" style="height:80%">
            <div class="position-absolute top-50 start-50 translate-middle">
                <div class="text-center">
                    <h1>{% translate "No search term entered." %}</h1>
                    <a href="{% url "homepage" %}" class="btn btn-primary">{% translate "Home" %}</a>
                </div>
            </div>
        </div>

    {% endif %}


    <script>
        function createToastHTML(message, colorClass, id, itemTypeId) {

            return `<div class="toast d-flex align-items-center ${colorClass} text-white" id="toast${id}-${itemTypeId}" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body">
                    ${message}
                </div>
                <button type="button" class="btn-close ms-auto me-2" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>`
        }

        document.addEventListener("DOMContentLoaded", function (event) {

            Array.from(document.getElementsByClassName('HoldButton')).forEach(function (el) {
                let url = `/placehold/${el.dataset.itemId}/${el.dataset.subitemId}/`;

                el.onclick = function () {
                    if (document.getElementById(`toast${el.dataset.itemId}-${el.dataset.subitemId}`)) {
                        // The toast is already on screen and active, so don't fire the request again
                        return
                    }
                    // because this is declared outside the fetch request, it's available inside
                    // all the different sections which would normally be closed off from each other.
                    let newtoast;
                    fetch(url).then(function (response) {
                        return response.ok ? response.json() : Promise.reject(response);
                    }).then(function (resp) {
                        let message = "{{ messages.hold_success_message }}"
                        message = message.replace("{{ name_keys.item_title }}", el.dataset.title)
                        message = message.replace("{{ name_keys.item_type_name }}", resp['name'])
                        newtoast = createToastHTML(
                            message, colorClass = "bg-success", id = el.dataset.itemId, itemTypeId = el.dataset.subitemId
                        )
                    }).catch(function (err) {
                        if (err.status === 409) {
                            newtoast = createToastHTML(
                                "{{ messages.hold_duplicate }}",
                                colorClass = "bg-secondary",
                                id = el.dataset.itemId,
                                itemTypeId = el.dataset.subitemId
                            )
                        } else {
                            newtoast = createToastHTML(
                                "{{ messages.hold_error_message }}",
                                colorClass = "bg-danger",
                                id = el.dataset.itemId,
                                itemTypeId = el.dataset.subitemId
                            )
                        }

                    }).finally(function () {
                        document.getElementById("toaster").insertAdjacentHTML('beforeend', newtoast);

                        let toastEl = document.getElementById(`toast${el.dataset.itemId}-${el.dataset.subitemId}`);
                        let toast = new bootstrap.Toast(toastEl, {'delay': 8000});
                        toast.show();

                        toastEl.addEventListener('hidden.bs.toast', function (event) {
                            toastEl.remove();
                        });
                    })
                }
            });
        });
    </script>

{% endblock %}
